.button {
  text-align: left;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* .button:hover {
  background-color: #b7ecff;
} */

.icon {
  font-size: 20px;
}

.name {
  font-size: 14px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  height: 100%;
}

.country {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
